@charset "UTF-8";

/* 
  font-family,
  the best setting at 2022. (by ICS MEDIA)
*/
body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}


/*
  text-decoration 系
*/
.no_decoration {
  text-decoration: none;
}
.under_line {
  text-decoration: underline;
}
/* Flex Box レイアウト化 */
.flex_box {
  display: flex;
}
.justyify_left{
  justify-content: left;
  justify-items: left;
}
.align_item_start {
  align-items: start;
}

