@media screen and (max-width:520px) {
  html {
    font-size: 12px;
  }

  /* background-img center point is changed */
  header {
    background-position: 40% 50%;
  }

  /* header 部分の文字縮小 */
  .header-head-part__pre-head{
    font-size: 0.9rem;
  }
  .header-head-part__head {
    font-size:2.0rem;
  }
  .header-head-part__description {
    font-size: 0.9rem;
    width: 19rem;
  }

  /* 具体的な活動の縮小 */
  .specific-support__head {
    font-size: 1.4rem;
  }
  .specific-support__list {
    font-size: 0.9rem;
  }

  /* こんな方はご相談ください、縮小 */
  /* ボーダー内パディング */
  .support-targets__flex-wrap {
    padding: 0.4rem 0.9rem;
  }
  .support-targets__head {
    font-size: 1.1rem;
  }
  .support-targets__list {
    font-size: 0.9rem;
    margin-left: 0;
    padding-left: 1rem;
  }
  .support-targets__face-img {
    width: 4rem;
    height: auto;
  }
  .support-targets__description {
    font-size: 0.9rem;
  }

  /* ボタン縮小 */
  .contact-us__button:link,
  .contact-us__button:visited {
    font-size: 1rem;
    padding: 0.8rem 0.8rem;
  }
  /* 電話タイトル縮小 */
  .contact-by-phone__img {
    width: 1.2rem;
  }
  .contact-by-phone__title {
    font-size: 1.2rem;
  }

  /* footer 縮小 */
  .implement-organization {
    font-size: 0.9rem;
  }
  .address {
    font-size: 0.8rem;
  }


  

  

  

}
