@media screen and (max-width:960px) {
  html {
    font-size: 16px;
  }

  /* まわりこみ解除 */
  .main-flex {
    display: block;
  }
  .main-flex__left-container,
  .main-flex__right-container {
    width: 80%;
    margin: 0 auto;
  }

  /* 回り込み解除後のmargin-bottom追加 */
  .main-flex__left-container {
    margin-bottom: 1.6em;
  }

  /* background img の中心点を変更 */
  .header {
    background-position: 30% 50%;
  }

  /* 顔イメージを小さく */
  .support-targets__face-img {
    width: 6rem;
    height: auto;
  }

}
  