@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap'); */

/* 根本文字サイズ */
html {
  font-size: 17px;
}

/*
  全体のレイアウト編 ================================================
*/
/* 【重要】横幅の変数 */
:root {
  --content-width: 960px;
  --content-padding: 20px;
}
/*
  大枠(body, header, main, footer)を横幅100%。
  内側にコンテナを入れ、それで実際の横幅を決める。
*/
body, .header, .main, .footer {
  width: 100%;
}
/*
  header, main, footer の直下のコンテナ。
  実際の横幅決定とセンタリングと余白(padding)が役目 
*/
.header-container,
.main-container,
.footer-container {
  width: 100%;
  max-width: calc(var(--content-width) + var(--content-padding) * 2);
  margin: 0 auto;
  padding: var(--content-padding);
}


/*
  header 編 ========================
*/
.header {
  background-image: url(../images/head.jpg);
  background-position: 50% 50% ;
}

/* タイトル部分はセンタリング＆シャドウ */
.header-head-part {
  text-align: center;
  text-shadow: 2px 2px 2px #000;
}
/* 宮崎市支援対象児童等見守り強化事業の表示 */
.header-head-part__pre-head {
  font-size: 1rem;
}
/* h1, 文字サイズ, 上下マージン減少 */
.header-head-part__head {
  font-size: 3rem;
  margin: 0.4rem 0;
}
/* h1下部の解説文 */
.header-head-part__description {
  text-align: left;
  font-size: 1.1rem;
  width: 26rem;
  margin: 0 auto;
}

/* 
  navigator 編 ========================
*/
/* nav のリストの上下マージンを調整 */
.nav {
  margin-top: 0.6rem;
}
.navigation-list {
  margin: 0;
  font-size: 1rem;
}
.navigation-list__item {
  width: 7rem;
  text-align: center;
}
/* nav のリストを flex-box 化*/
.navigation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-items: center; */
  /* justify-content: center; */
  align-items: stretch;
}
/* nav アイテムの flex 設定 */
.navigation-list__item {
  align-self: stretch;
  justify-self: flex-start;
}
/* nav border */
.navigation-list__item {
  padding: 0.4rem 1rem;
  box-shadow: 0.2rem 0.2rem 0 #333;
  /* border-right-style: solid;
  border-right-width: 1px; */
  border-width: 1px;
  border-style: solid;
  
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.navigation-list__item:first-child {
  /* border-left-style: solid;
  border-left-width: 1px; */
}
.navigation-list__item {
  font-weight: 700%;
  padding: 0;
}
/* nav を押したときの演出 */
.navigation-list__item:active {
  position: relative;
  right: -0.1rem;
  bottom: -0.1rem;
  box-shadow: 0.1rem 0.1rem 0 #333;
}

.navigation-list__anchor {
  display: block;
  padding-top:0.25rem;
  height: 2rem;
  /* width: 100%; */
}



/* 
  Main 編
*/
/* main の共通設定 */
.main-section {
  margin-top:1.6rem;
  margin-bottom:1.6rem;
}
.main-section:first-child {
  margin-top:0;
}
.main-section:last-child {
  margin-bottom: 0;
}
.main-inner-box {
  /* width: 60%; */
  margin:0 auto;
}

/* 961px以上でのまわりこみ */
.main-flex {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  align-content: left;
}
.main-flex__left-container {
  width: 69%;
  margin-right: 2%;
  align-self: left;
}
.main-flex__right-container {
  width: 29%;
  align-self: left;
}

/* 
  main > activity-list 編
*/
.specific-support {
  /* width: 100%; */
}
.specific-support__inner-box {
  padding: 0.4rem 1.2rem;
  /* width: 50%; */
  /* margin:0 auto; */
  border-style: solid;
  border-top-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
  /* border-width: 2px; */
}
/* h2 左寄せ, 上下幅調整 */
.specific-support__head {
  text-align: left;
  margin: 0.4rem 0 0 0;
}
/* 支援内容 ol */
.specific-support__list {
  list-style-position: inside;
  text-align: left;
  padding-left: 1rem;
  margin-top: 0.4rem;
  font-size: 1.1rem;
}

/*
  main support-targets 編
*/
/* inner */
.support-targets__inner-box {
  /* margin: 0 auto; */
  /* width: 50%; */
}
/* こんな方は…のボーダー枠 */
.support-targets__bordered_box {
  border-style: solid;
  border-top-left-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
  padding: 0;
}
/* ボーダーの内容 flex */
.support-targets__flex-wrap {
  width: 100%;
  padding: 1rem 1.4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* justify-content: flex-start; */
  justify-items: flex-start;
  align-items: stretch;
}
.support-targets__head {
  margin: 0;
}
.support-targets__list {
  margin: 0;
  margin-top: 0.6rem;
  font-size: 1.1rem;
}
/* 顔イラスト */
.support-targets__face-img-wrap {
  margin-right: 1rem;
}
.support-targets__face-img {
  width: 7rem;
  height: auto;
}
/* 解説部分 */
.support-targets__description {
  padding-top: 0.4rem;
  padding-bottom: 0rem;
  padding-right: 1rem;
  padding-left: 1rem;
}


/*
  ご相談はこちらから contact us 編
*/
/* h2 */
.contact-us__head {
  text-align: center;
}
.contact-us__by-form {
  margin-top: 0.4rem;
  margin-bottom: 1.4rem;
}
.contact-us__button-wrap {
  margin-bottom:1rem;
  padding: 0;
}
/*
  a ボタン 設定
*/
/*　a ボタン平時 */
.contact-us__button:link,
.contact-us__button:visited {
  display: block;
  font-size: 1.4rem;
  margin: 0 auto;
  text-align: center;
  text-decoration:none;
  padding: 0.8rem 1rem;
  box-shadow: 0.3rem 0.3rem 0.1rem #333;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}
/* a ボタンを押し込む演出 */
.contact-us__button:active {
  position: relative;
  right: -0.2rem;   
  bottom: -0.2rem;
  box-shadow: 0.1rem 0.1rem 0rem #333;
}

.contact-us__description,
.contact-by-phone{
  margin-bottom: 0.8rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

/*
  電話での相談申し込み
*/
.contact-by-phone {
  margin-top:1.4rem;
  margin-bottom:0rem;
}
.contact-by-phone__flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-items: stretch;
  /* justify-content: flex-start; */
  justify-items:flex-start;
  width: fit-content;
  margin: 0 auto;
  font-size: 1.4rem;
}
.contact-by-phone__title {
  font-weight: bold;
  font-size: 1.4rem;
  vertical-align: middle;
}
.contact-by-phone__img {
  width: 1.6rem;
  height: auto;
  vertical-align: middle;
  margin-right: 0.4rem;
}
.contact-by-phone__title::after {
  content: '(担当:市園):';
  font-weight: normal;
}
.contact-by-phone__phone-number {
  margin-left: 0.2rem;
  font-size: 1.6rem;
  vertical-align: middle;
  white-space: nowrap;
}


/*
  Footer Styles
*/
.footer {
  margin-top: 1rem;
}
/* やや大きいpaddingを小さく */
.footer-container {
  padding: 0.6rem 0;
}

.footer-inner-container {
  /* margin: 0 auto;
  width: 600px; */
}

/* address table  */
.implement-organization {
  font-size: 1rem;
}
.implement-organization__name {
  padding-left: 1rem;
}
.address-table__head::after {
  content:':'
}
.address-table__head {
  text-align: right;
}
.address-table__data {
  padding-left: 1rem;
}

/* address */
.address {
  font-size: 0.9rem;
  width: fit-content;
  /* max-width: 70%; */
  margin: 0 auto;
}


/* 
  Activity Report
*/
.report-article {
  width:100%;
}
.report-article__head {
  margin-top: 0;
  margin-bottom: 1rem;
}
.report-article__section {
  margin-bottom: 2rem;
}
.report-article__section:last-child {
  margin-bottom: 0;
}

/* 報告見出し */
.report-article__head {
  /* font-size: 2rem; */
  text-align: center;
}
/* 報告文 */
.report-article__description {
  max-width: calc( var(--content-width) - var(--content-padding) * 3);
  margin: 0 auto;
  margin-bottom: 0.6rem;
  text-indent: 1rem;
}

/*
  報告article の傘下 section
  写真の grid box を内包する
*/
/* 見出し3 */
.report-article__section__head {
  text-align: center;
}
/* 写真Grid 共通 */
.photos-grid-box {
  display: grid;
  max-width: 100%;
  margin: 0 auto;
}
/* 写真Grid 2×2 */
.photos-grid-box-2-sqr {
  grid-template-columns:1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem 1rem;
}
/* 写真Grid 2×1 */
.photos-grid-box-2-1-rect {
  grid-template-columns:1fr 1fr;
  grid-template-rows: 2fr;
  column-gap: 1rem;
}
/* 子要素ラップ */
.photos-grid-box__photo-wrap {
  /*width: 40vw;
  max-width: calc( var(--content-width)/2);
  */
}
/* 子要素写真 */
.photos-grid-box__photo {
  width: 40vw;
  max-width: calc( var(--content-width)/2);
  margin: 0 auto;
  object-fit: fill;
  width: 100%;
  height: auto;
  box-shadow: 0.2rem 0.2rem 0 #333;
  border-radius: 2%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
  animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  -webkit-animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

.zoom-in-animation {
  animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  -webkit-animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}
/* 飛び出すアニメの keyframes zoomIn */
@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}